<a href="https://colab.research.google.com/github/Yuweien/Python-Workshop/blob/main/%5BLive_Code_Version%5D_Python_Workshop_for_Beginners_2_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ‚Äß‚ÇäÀö‚ú© ‚ÇäÀöüíª‚äπ‚ô° ‚ú® **Python for Absolute Beginners** ‚ú® ‚Äß‚ÇäÀö‚ú© ‚ÇäÀöüíª‚äπ‚ô°


---

# **Session 1: Python Basics**

---

**Instructor:** Yuwei Wang  
**Contact:** wangyw@arizona.edu  

Feel free to reach out if you have questions after the workshop.


---

# üëã Welcome! üìÑ‚û°Ô∏èüìÇ Please make a copy of this notebook

üîó The link is in the Zoom chat.

üë§ Please log in to your Google account first.  
Click **‚ÄúOpen in Google Colab‚Äù** in the top-right corner of the page.

üöÄ Then go to **File ‚Üí Save a copy in Drive**  
This will create your own editable copy for today‚Äôs workshop.

## üì£ Preparation before we start:
1. üìÑ Open **your own copy** of this Google Colab notebook.
2. ‚ú® We‚Äôll use the built-in Gemini in Colab today.  
   You can open it by clicking the blue star icon ‚ú¶ at the bottom of the Colab window.

3. ‚è≥ For now, just watch the demonstration.  
   After each small step, I‚Äôll pause and give you time to try it yourself.

4. üîí Please make sure you are working in **your own copy** of the notebook.  
   To keep the live demo and recording clean, please üö® **don‚Äôt edit the instructor‚Äôs version** üö®.  
   I‚Äôll share a completed copy of the notebook with everyone after the session.

### üéØ Today‚Äôs goals

By the end of this session, you will be able to:

1. Understand the basic logic of how Python code runs.

2. Build a shared Python vocabulary for **reading code** and for **interacting with AI tools** to make small, targeted adjustments.

3. Read a piece of data-wrangling code and identify **where** and **how** you would modify it to fit your own data.*

* The 3rd one will be practiced through a short take-home exercise.

‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê
## ‚ï∞‚îà‚û§ **0. How this notebook works**

Google Colab lets you write and run Python code **directly in your web browser**.  
You do not need to install Python or download any software on your own computer.

Everything we need is already prepared, so we can focus on learning and working with the code.

**Cell types**
- Text cell: explanations, notes
- Code cell: Python code you can run

**Add cells**
- Add a new cell below: `+ Code` or `+ Text`

**Edit text cell**
- Enter edit mode: `Enter`
- Exit edit mode: `Esc`

In [ ]:
## DEMO ##

**Run cells**
- Run current cell: `Shift + Enter`

**Delete cells**
- Delete current cell: `Ctrl + M, D` (press twice)

**If something goes wrong**
- Interrupt excecution: Hit ‚èπÔ∏è

In [ ]:
## DEMO ##

‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê
## ‚ï∞‚îà‚û§ **1. How Python run**

Python runs code one line at a time.  
Each line is an instruction.

The order of cells on the screen is **not always** the same as the order in which the code runs.

In [ ]:
## DEMO ##

In [ ]:
first_name = "Alice"
last_name = "Smith"

In [ ]:
full_name = first_name + " " + last_name
print(full_name)

‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê
## ‚ï∞‚îà‚û§ **2. Function, values, and variables**


### 2.1 **Functions**: doing something

![image.png]()

In [ ]:
## DEMO ##

### 2.2 **Values**: pieces of information

In [ ]:
"Hello world!"

'Hello world!'

In [ ]:
25

25

In [ ]:
25 * 10

250

### 2.3 **Variables**: names for values

![image.png]()

In [ ]:
age = 25

print(age)

print(f"I'm {age} years old.")

25
I'm 25 years old.

In [ ]:
retirement_age = 65

retirement_age - age

40

In [ ]:
age += 1

print(age)

print(f"I'll turn {age} in 2026.")

26
I'll turn 26 in 2026.

In [ ]:
name, age = "Alice", 25  # multiple assignment

print(f"{name} is {age} years old.")

Alice is 25 years old.

In [ ]:
message_string = "Hello world!"

print(message_string)

Hello world!

### Variable name rules

- ‚ùå Variable names **cannot start with a number**
- ‚ùå Variable names **cannot contain spaces**
- ‚ö†Ô∏è Python is **case-sensitive** (`age` and `Age` are different)

**Examples**
- Valid names: `age`, `student_name`, `_count`, `score1`
- Invalid names: `1st_score`, `student name`

In [ ]:
1st_score = 100

SyntaxError: invalid decimal literal (ipython-input-1331531350.py, line 1)

### (Optional Reading) Common variable naming conventions

Python commonly uses **snake_case** for variable names.

- Words are lowercase
- Words are separated by underscores (`_`)

**Examples**
- `student_name`
- `total_score`
- `participant_id`

You may also see **camelCase** in other programming languages.

- The first word is lowercase
- Each new word starts with a capital letter

**Examples**
- `studentName`
- `totalScore`

**In this workshop**
We will use **snake_case**, which is the standard convention in Python.

### üß© Putting things together

In [ ]:
name = "Alice"
age = 25

retirement_age = 65

print(f"{name} is {age}. There are still {retirement_age - age} years until retirement.")

Alice is 25. There are still 40 years until retirement.

Use natural language to describe what the code is doing.

You can follow this structure:

1. First, I assign ______ to the variable ______.
2. Then, I assign ______ to the variable ______.
3. Next, I define ______ as ______.
4. Finally, I print a sentence that shows ______.

‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê
## ‚ï∞‚îà‚û§ **3. Primitive data types**

Python works with different kinds of values.  
These basic kinds are called **data types**.

For now, we‚Äôll focus on four very common ones.

---

### 3.1 **Integer** (`int`)
Whole numbers, without decimals.

In [ ]:
type(25)

int

In [ ]:
type(age)

int

### 3.2 **Float** (`float`)
Numbers with decimals.

In [ ]:
average_age = 21.25
type(average_age)

float

In [ ]:
type(age + average_age)

float

### 3.3 **String** (`str`)

Text values, written inside quotes.

In [ ]:
first_name = "Alice"
last_name = "Smith"

type(first_name)

In [ ]:
from numpy import full
full_name = first_name + " " + last_name
print(full_name)

### 3.4 **Boolean** (`bool`)

True or False values.

In [ ]:
is_adult = True
type(is_adult)

bool

In [ ]:
age >= 18

True

In [ ]:
age < 18

False

In [ ]:
1 == 2

False

In [ ]:
1 != 2

True

In [ ]:
True and True

True

In [ ]:
True and False

False

In [ ]:
False and False

False

In [ ]:
True or False

True

### üß© Putting things together

In [ ]:
name = "Alice"
age = 66

is_adult = age >= 18
is_retired = age >= 65

if is_adult and not is_retired:
    print(f"{name}, You are welcome to apply for this job.")
else:
    print(f"{name}, You are not eligible to apply for this job.")

Alice, You are not eligible to apply for this job.

Use natural language to describe what the code is doing.

1. First, I assign ______ to the variable ______.
2. Then, I assign ______ to the variable ______.

3. Next, I check whether ______ is ______, and store the result (True or False) in the variable ______.
4. I also check whether ______ is ______, and store the result in the variable ______.

5. Then, the code makes a decision:
   - If ______ and ______, it prints ______.
   - Otherwise, it prints ______.

‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê
## ‚ï∞‚îà‚û§ **4. Data structures: lists and dictionaries**

So far, we‚Äôve worked with single values.  
Very often, we want to work with **collections of values**.

Python provides several built-in data structures for this purpose.

### 4.1 **List**

# üõí = [üçÖ, üçû, ü•¶, üßÖ, ü•ö]

In [ ]:
shopping_cart = []
shopping_cart.append("tomato")
shopping_cart.append("bread")
shopping_cart.append("brocoli")
shopping_cart.append("onion")
shopping_cart.append("egg")

In [ ]:
print(shopping_cart)

['tomato', 'bread', 'brocoli', 'onion', 'egg']

In [ ]:
len(shopping_cart)

5

In [ ]:
shopping_cart = ['tomato', 'bread', 'brocoli', 'onion', 'egg']
cost = [3, 2, 5.5, 1.5, 5]

In [ ]:
shopping_cart[0]

'tomato'

In [ ]:
shopping_cart[:3]

['tomato', 'bread', 'brocoli']

In [ ]:
shopping_cart[3:]

['onion', 'egg']

In [ ]:
shopping_cart[-1]

'egg'

In [ ]:
shopping_cart[7]

IndexError: list index out of range

In [ ]:
for item in shopping_cart:
    print(item)

In [ ]:
sum_cost = sum(cost)
sum_cost

In [ ]:
for i in range(5):
  print(shopping_cart[i], cost[i])

### üßê A quick note on 2D lists (understand-only)

Sometimes, data is organized in **rows and columns**, similar to a table.  
In Python, this can be represented as a **2D list** (a list of lists).

For now, you only need to know that this structure exists.  
You do **not** need to create or modify a 2D list yourself at this stage.

We‚Äôll mainly use this idea later when we turn data into tables.

In [ ]:
shopping_cart = ['tomato', 'bread', 'brocoli', 'onion', 'egg']
cost = [3, 2, 5.5, 1.5, 5]

# Combine the two lists into a 2D list
receipt = [[shopping_cart[i], cost[i]] for i in range(len(shopping_cart))]

print(receipt)

In [ ]:
receipt[0]

In [ ]:
receipt[0][1]

In [ ]:
import pandas as pd
receipt_df = pd.DataFrame(receipt, columns=['Item', 'Cost'])
receipt_df

Another example:

In [ ]:
student_names = [
    "Alice", "Bob", "Charlie", "Diana", "Ethan",
    "Fiona", "George", "Hannah", "Ian", "Julia"
]

classes = [
    101, 101, 102, 102, 201,
    201, 202, 202, 101, 102
]

consented = [
    True, False, True, True, False,
    True, False, True, True, False
]

In [ ]:
consented_students = list(zip(student_names, classes, consented))

In [ ]:
consented_students

[('Alice', 101, True),
 ('Bob', 101, False),
 ('Charlie', 102, True),
 ('Diana', 102, True),
 ('Ethan', 201, False),
 ('Fiona', 201, True),
 ('George', 202, False),
 ('Hannah', 202, True),
 ('Ian', 101, True),
 ('Julia', 102, False)]

In [ ]:
import pandas as pd

consented_students_df = pd.DataFrame(
    consented_students,
    columns=["student_name", "class_level", "consented"]
)

consented_students_df

  student_name  class_level  consented
0        Alice          101       True
1          Bob          101      False
2      Charlie          102       True
3        Diana          102       True
4        Ethan          201      False
5        Fiona          201       True
6       George          202      False
7       Hannah          202       True
8          Ian          101       True
9        Julia          102      False

### 4.2 **Dictionary**

In the grocery shopping example earlier, you might have noticed a limitation.
If we store items and prices in two separate lists, it becomes inconvenient to work with the data.

For example, if we want to change the price of an item, we first need to find its position in the shopping list, and then update the price at the same position in the cost list.
If we want to delete an item, we need to delete it from both lists.

A dictionary helps us organize this kind of data in a much more convenient way.
It allows us to add, update, and remove items directly by name.

Similarly, dictionaries can be easily converted into tables, which will be very useful later for visualization and analysis.

# üìï = {"üçÖ": 3, "üçû": 2, "ü•¶": 5.5, "üßÖ": 1.5, "ü•ö": 5}

## Keys: üçÖ, üçû, ü•¶, üßÖ, ü•ö
## values: 3, 2, 5.5, 1.5, 5

In [ ]:
# Let's create an empty receipt before we scan the items
receipt = {}

In [ ]:
receipt["tomato"] = 3
receipt["bread"] = 2
receipt["brocoli"] = 5.5
receipt["onion"] = 1.5
receipt["egg"] = 5

In [ ]:
print(receipt)

{'tomato': 3, 'bread': 2, 'brocoli': 5.5, 'onion': 1.5, 'egg': 5}

In [ ]:
receipt.keys()

dict_keys(['tomato', 'bread', 'brocoli', 'onion', 'egg'])

In [ ]:
receipt.values()

dict_values([3, 2, 5.5, 1.5, 5])

In [ ]:
receipt.items()

dict_items([('tomato', 3), ('bread', 2), ('brocoli', 5.5), ('onion', 1.5), ('egg', 5)])

In [ ]:
for item, price in receipt.items():
    print(item, price)

tomato 3
bread 2
brocoli 5.5
onion 1.5
egg 5

In [ ]:
student = {
    "name": "Alice",
    "age": 18,
    "major": "Biology"
}

In [ ]:
student["age"]

18

In [ ]:
students = {
    "Alice":   {"class": 101, "consented": True},
    "Bob":     {"class": 101, "consented": False},
    "Charlie": {"class": 102, "consented": True},
    "Diana":   {"class": 102, "consented": True},
    "Ethan":   {"class": 201, "consented": False},
    "Fiona":   {"class": 201, "consented": True},
    "George":  {"class": 202, "consented": False},
    "Hannah":  {"class": 202, "consented": True},
    "Ian":     {"class": 101, "consented": True},
    "Julia":   {"class": 102, "consented": False}
}

In [ ]:
students["Alice"]

{'class': 101, 'consented': True}

In [ ]:
students["Alice"]["consented"]

True

In [ ]:
df = pd.DataFrame.from_dict(students, orient="index")
df

         class  consented
Alice      101       True
Bob        101      False
Charlie    102       True
Diana      102       True
Ethan      201      False
Fiona      201       True
George     202      False
Hannah     202       True
Ian        101       True
Julia      102      False

In [ ]:
df = df.reset_index().rename(columns={"index": "student_name"})
df

  student_name  class  consented
0        Alice    101       True
1          Bob    101      False
2      Charlie    102       True
3        Diana    102       True
4        Ethan    201      False
5        Fiona    201       True
6       George    202      False
7       Hannah    202       True
8          Ian    101       True
9        Julia    102      False

### üèÅ Quick summary:

|              | List                          | Dictionary                                     |
| ------------------- | ----------------------------- | ---------------------------------------------- |
| **Core purpose**    | Store a sequence of values    | Store labeled information                      |
| **Basic form**      | `[]`                          | `{key: value}`                                 |
| **Access method**   | By position (index)           | By key (name)                                  |
| **Typical example** | `["Alice", "Bob", "Charlie"]` | `{"Alice": {"class": 101, "consented": True}}` |



---


### (Optional Reading) tuples and sets

The following two data structures‚Äîtuples and sets‚Äîare included here as optional reading.

We won‚Äôt spend time on them in today‚Äôs session.

In practice, they come up less often in data analysis, and when they do, their behavior is similar to lists.

Knowing what they look like is usually enough at this stage.

#### 4.3 Tuples: ordered but fixed

In [ ]:
coordinates = (32.2217, -110.9265)

Tuples use parentheses ( )

Items are ordered

Tuples are immutable (cannot be modified)

In [ ]:
coordinates[0]

32.2217

You will often see tuples used for things like:

coordinates

fixed pairs or groups of values



---


#### 4.4 Sets: unordered unique values

A set stores unique values, without order.

In [ ]:
unique_ids = {101, 102, 103}

Sets use curly braces { }

Duplicate values are automatically removed

Order is not guaranteed

In [ ]:
ids = {1, 2, 2, 3}
ids

{1, 2, 3}

Sets are often used to:

remove duplicates

check membership

#### 4.5 Quick summary

| Type       | Ordered | Changeable | Access method |
| ---------- | ------- | ---------- | ------------- |
| List       | Yes     | Yes        | Index         |
| Dictionary | No      | Yes        | Key           |
| Tuple      | Yes     | No         | Index         |
| Set        | No      | Yes        | Membership    |


mappingÔºö

> `[]` ‚Üí list  
> `{key: value}` ‚Üí dictionary  
> `( )` ‚Üí tuple  
> `{value, value}` ‚Üí set  


Different data structures are just different ways of organizing information.  
You don‚Äôt need to master them today‚Äîjust recognize what you‚Äôre looking at.

‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê
## ‚ï∞‚îà‚û§  **5. Reading & modifying an existing script (take home exercise)**

In this exercise, you‚Äôll work with a short Python script adapted from a real metadata workflow.

You do not need to write new code from scratch.  
The goal is to **read the code and understand what it does**.

In [ ]:
# A small fake dataset: each dictionary is one student record

students = [
    {"name": "Alice", "level": 101},
    {"name": "Bob", "level": 102},
    {"name": "Charlie", "level": 201},
    {"name": "Diana", "level": 202},
    {"name": "Ethan", "level": 300},
    {"name": "Fiona", "level": 400},
    {"name": "George", "level": 102},
    {"name": "Hannah", "level": 201},
    {"name": "Ian", "level": 210},     # unexpected
    {"name": "Julia", "level": None}   # unexpected
]

In [ ]:
# This is a piece of code extracted from a real metadata workflow.

for student in students:
    level = student["level"]

    if level == 101:
        student["proficiency"] = "novice"

    elif level == 102 or level == 201:
        student["proficiency"] = "intermediate-low"

    elif level == 202 or level == 300:
        student["proficiency"] = "intermediate-high"

    elif level == 400:
        student["proficiency"] = "advanced"

    else:
        student["proficiency"] = "N/A"
        print("Unexpected value:", student["name"], level)

Unexpected value: Ian 210
Unexpected value: Julia None

In [ ]:
students

[{'name': 'Alice', 'level': 101, 'proficiency': 'novice'},
 {'name': 'Bob', 'level': 102, 'proficiency': 'intermediate-low'},
 {'name': 'Charlie', 'level': 201, 'proficiency': 'intermediate-low'},
 {'name': 'Diana', 'level': 202, 'proficiency': 'intermediate-high'},
 {'name': 'Ethan', 'level': 300, 'proficiency': 'intermediate-high'},
 {'name': 'Fiona', 'level': 400, 'proficiency': 'advanced'},
 {'name': 'George', 'level': 102, 'proficiency': 'intermediate-low'},
 {'name': 'Hannah', 'level': 201, 'proficiency': 'intermediate-low'},
 {'name': 'Ian', 'level': 210, 'proficiency': 'N/A'},
 {'name': 'Julia', 'level': None, 'proficiency': 'N/A'}]

In [ ]:
# Show data in a table

import pandas as pd

students_df = pd.DataFrame(students)
students_df

      name  level        proficiency
0    Alice  101.0             novice
1      Bob  102.0   intermediate-low
2  Charlie  201.0   intermediate-low
3    Diana  202.0  intermediate-high
4    Ethan  300.0  intermediate-high
5    Fiona  400.0           advanced
6   George  102.0   intermediate-low
7   Hannah  201.0   intermediate-low
8      Ian  210.0                N/A
9    Julia    NaN                N/A

## **üîç Optional Challenge: Redefining Proficiency Levels**

After reviewing the distribution of proficiency levels, you may notice that the groups are quite small, and that the novice and advanced categories contain very few students.

To simplify the analysis and make the groups more balanced, you decide to redefine the proficiency levels by merging some course levels:

Levels 101 and 102 ‚Üí beginning

Levels 201 and 202 ‚Üí intermediate

Levels 300 and 400 ‚Üí advanced

**Task:**

Based on this new definition, identify which part of the code needs to be changed and explain how you would adapt it to implement the new proficiency scheme.

You do not need to write the full modified script.
Focus on explaining where the change should be made and why.

## **ü§ñ Optional Extension: Asking AI for Help**

Imagine you want to use an AI tool to help you adapt the script to the new proficiency definition.

Write a prompt you could give to an AI assistant that includes:

what the current code is doing,

what the new proficiency rules are,

and what kind of help you want (e.g., identifying which part to change or suggesting a modification).

## **üîê Answer Keys**

### **üîë Part A What the code do: line-by-line comments**

Focus on the comments, they explain the purpose of the code step by step.

In [ ]:
# A small fake dataset: each dictionary is one student record
# "name" is the student's name, and "level" is the course level
students = [
    {"name": "Alice", "level": 101},
    {"name": "Bob", "level": 102},
    {"name": "Charlie", "level": 201},
    {"name": "Diana", "level": 202},
    {"name": "Ethan", "level": 300},
    {"name": "Fiona", "level": 400},
    {"name": "George", "level": 102},
    {"name": "Hannah", "level": 201},
    {"name": "Ian", "level": 210},     # unexpected value
    {"name": "Julia", "level": None}   # unexpected value
]

In [ ]:

# Loop through each student record in the list
for student in students:
    # each student variable is one record of the students list
    # e.g. the first student record is {'name': 'Alice', 'level': 101}

    # Get the course level for this student
    level = student["level"]

    # If the level is 101, label the student as "novice"
    if level == 101:
        student["proficiency"] = "novice"

    # If the level is 102 OR 201, label the student as "intermediate-low"
    elif level == 102 or level == 201:
        student["proficiency"] = "intermediate-low"

    # If the level is 202 OR 300, label the student as "intermediate-high"
    elif level == 202 or level == 300:
        student["proficiency"] = "intermediate-high"

    # If the level is 400, label the student as "advanced"
    elif level == 400:
        student["proficiency"] = "advanced"

    # If the level does not match any rule above:
    # 1) label it as "N/A"
    # 2) print the name and level to help us find unusual data
    else:
        student["proficiency"] = "N/A"
        print("Unexpected value:", student["name"], level)

Unexpected value: Ian 210
Unexpected value: Julia None

In [ ]:
# Check all student records so we can see the assigned proficiency labels
students

[{'name': 'Alice', 'level': 101, 'proficiency': 'novice'},
 {'name': 'Bob', 'level': 102, 'proficiency': 'intermediate-low'},
 {'name': 'Charlie', 'level': 201, 'proficiency': 'intermediate-low'},
 {'name': 'Diana', 'level': 202, 'proficiency': 'intermediate-high'},
 {'name': 'Ethan', 'level': 300, 'proficiency': 'intermediate-high'},
 {'name': 'Fiona', 'level': 400, 'proficiency': 'advanced'},
 {'name': 'George', 'level': 102, 'proficiency': 'intermediate-low'},
 {'name': 'Hannah', 'level': 201, 'proficiency': 'intermediate-low'},
 {'name': 'Ian', 'level': 210, 'proficiency': 'N/A'},
 {'name': 'Julia', 'level': None, 'proficiency': 'N/A'}]

In [ ]:
# (Optional) Count how many students fall into each proficiency category
counts = {}

# Loop through each student again
for student in students:
    # Get the assigned proficiency label
    prof = student["proficiency"]

    # If this label has not appeared before, start the count at 0
    if prof not in counts:
        counts[prof] = 0

    # Add 1 to the count for this proficiency label
    counts[prof] += 1

# Print the summary counts
print(counts)

{'novice': 1, 'intermediate-low': 4, 'intermediate-high': 2, 'advanced': 1, 'N/A': 2}

### **üîë Part B. Modified code (new proficiency definition)**

New rules:

101, 102 ‚Üí beginning

201, 202 ‚Üí intermediate

300, 400 ‚Üí advanced

We don't need to rewrite the script.
We can only adjust the logic where the assumptions changed.

In [ ]:
# The same fake dataset as before
# We do not need to change this part
# But since the students list is modified by above steps, we can run this cell again to reload the data
students = [
    {"name": "Alice", "level": 101},
    {"name": "Bob", "level": 102},
    {"name": "Charlie", "level": 201},
    {"name": "Diana", "level": 202},
    {"name": "Ethan", "level": 300},
    {"name": "Fiona", "level": 400},
    {"name": "George", "level": 102},
    {"name": "Hannah", "level": 201},
    {"name": "Ian", "level": 210},     # unexpected value
    {"name": "Julia", "level": None}   # unexpected value
]

In [ ]:
# Loop through each student record
for student in students:
    # each student variable is one record of the students list
    # e.g. the first student record is {'name': 'Alice', 'level': 101}

    # Extract the course level for this student
    level = student["level"]

    # New rule:
    # If the level is 101 OR 102, label the student as "beginning"
    if level == 101 or level == 102:
        student["proficiency"] = "beginning"

    # New rule:
    # If the level is 201 OR 202, label the student as "intermediate"
    elif level == 201 or level == 202:
        student["proficiency"] = "intermediate"

    # New rule:
    # If the level is 300 OR 400, label the student as "advanced"
    elif level == 300 or level == 400:
        student["proficiency"] = "advanced"

    # If the level does not match any of the expected values:
    # 1) assign "N/A"
    # 2) print the name and level to help identify unexpected data
    else:
        student["proficiency"] = "N/A"
        print("Unexpected value:", student["name"], level)

Unexpected value: Ian 210
Unexpected value: Julia None

In [ ]:
# Check all student records so we can see the assigned proficiency labels
students

[{'name': 'Alice', 'level': 101, 'proficiency': 'beginning'},
 {'name': 'Bob', 'level': 102, 'proficiency': 'beginning'},
 {'name': 'Charlie', 'level': 201, 'proficiency': 'intermediate'},
 {'name': 'Diana', 'level': 202, 'proficiency': 'intermediate'},
 {'name': 'Ethan', 'level': 300, 'proficiency': 'advanced'},
 {'name': 'Fiona', 'level': 400, 'proficiency': 'advanced'},
 {'name': 'George', 'level': 102, 'proficiency': 'beginning'},
 {'name': 'Hannah', 'level': 201, 'proficiency': 'intermediate'},
 {'name': 'Ian', 'level': 210, 'proficiency': 'N/A'},
 {'name': 'Julia', 'level': None, 'proficiency': 'N/A'}]

In [ ]:
# Show data in a table

students_df = pd.DataFrame(students)
students_df

      name  level   proficiency
0    Alice  101.0     beginning
1      Bob  102.0     beginning
2  Charlie  201.0  intermediate
3    Diana  202.0  intermediate
4    Ethan  300.0      advanced
5    Fiona  400.0      advanced
6   George  102.0     beginning
7   Hannah  201.0  intermediate
8      Ian  210.0           N/A
9    Julia    NaN           N/A