<a href="https://colab.research.google.com/github/Yuweien/Python-Workshop/blob/main/Python_Workshop_for_Beginners_2_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ‚Äß‚ÇäÀö‚ú© ‚ÇäÀöüíª‚äπ‚ô° ‚ú® **Python for Absolute Beginners** ‚ú® ‚Äß‚ÇäÀö‚ú© ‚ÇäÀöüíª‚äπ‚ô°


---

# **Session 2: A Hands-on Workflow**

---

**Instructor:** Yuwei Wang  
**Contact:** wangyw@arizona.edu  

Feel free to reach out if you have questions after the workshop.


---

# üëã Welcome! üìÑ‚û°Ô∏èüìÇ Please make a copy of this notebook

üîó The link is in the Zoom chat.

üë§ Please log in to your Google account first.  
Click **‚ÄúOpen in Google Colab‚Äù** in the top-right corner of the page.

üöÄ Then go to **File ‚Üí Save a copy in Drive**  
This will create your own editable copy for today‚Äôs workshop.

## üì£ Preparation before we start:
1. üìÑ Open **your own copy** of this Google Colab notebook.
2. ‚ú® We‚Äôll use the built-in Gemini in Colab today.  
   You can open it by clicking the blue star icon ‚ú¶ at the bottom of the Colab window.

3. ‚è≥ For now, just watch the demonstration.  
   After each small step, I‚Äôll pause and give you time to try it yourself.

4. üîí Please make sure you are working in **your own copy** of the notebook.  
   To keep the live demo and recording clean, please üö® **don‚Äôt edit the instructor‚Äôs version** üö®.  
   I‚Äôll share a completed copy of the notebook with everyone after the session.

### üéØ Today‚Äôs goals

By the end of this session, you will be able to:

- **Recognize and describe a basic data workflow**, from raw CSV to interpretable results.

- **Understand what a üêº pandas DataFrame üêº‡æÄ‡Ω≤ represents** and how it functions as a structured table for analysis.

- **Read and interpret common Python code patterns**, including:
  - loading data
  - cleaning columns
  - merging tables
  - grouping and summarizing data
  - defining and calling simple functions

- **Identify how this workflow could apply to your own project**, especially when:
  - key metadata is stored in separate files
  - different data types require different analysis strategies
  - you need to combine, summarize, or visualize structured data.



---

## ü§î A classroom study: Does AI-assisted study improve vocabulary retention?


### 1Ô∏è‚É£ The main dataset (downloaded from D2L quiz report)
üì• [Download D2L fake dataset](https://github.com/Yuweien/Python-Workshop/blob/main/d2l_fake_export.csv)

- D2L quiz results (CSV export)
  - Student names
  - Vocabulary quiz questions (MC)
  - One reflection question (WR)
  - Scores for the quiz

### 2Ô∏è‚É£ Group information (stored separately)
üì• [Download group roster](https://github.com/Yuweien/Python-Workshop/blob/main/group_roster.csv)

- Study condition (Group A, B, or C)
  - Group C: No vocabulary review (baseline)
  - Group B: Reviewed textbook vocabulary before the quiz
  - Group A: Studied vocabulary with AI assistance before the quiz


### üö© The challenge

These two tables are stored separately.

If the quiz export does not include group labels, I cannot compare vocabulary retention across conditions.

üéØ I need to combine these two tables into one dataset.



---


### üßê This problem shows up elsewhere too


It often happens when key metadata is stored in a separate table. For example:

- Participants are assigned to different treatment groups, but they take the same test.
- Survey responses are stored separately from demographic information.
- Text data is stored separately from coding categories or annotations.

**üéØ Core challenge**

How do we combine related pieces of information?

## üìçüó∫Ô∏è Workflow roadmap for today

**‚¨ú Import D2L downloaded survey data**  
&nbsp;&nbsp;&nbsp;&nbsp;‚Üì  
**‚¨ú Inspect & clean**  
&nbsp;&nbsp;&nbsp;&nbsp;‚Üì  
**‚¨ú Add group info (merge)**  
&nbsp;&nbsp;&nbsp;&nbsp;‚Üì  
**‚¨ú Split by question type**  
&nbsp;&nbsp;&nbsp;&nbsp;‚îú‚îÄ‚îÄ **‚¨ú MC** ‚Üí group stats ‚Üí bar chart  
&nbsp;&nbsp;&nbsp;&nbsp;‚îî‚îÄ‚îÄ **‚¨ú Short answer** ‚Üí word freq ‚Üí (read only) sentiment analysis

# Step 0. Files and setup

If you haven't yet:
üì• [Download D2L fake dataset](https://github.com/Yuweien/Python-Workshop/blob/main/d2l_fake_export.csv)


### You are here
- üîµ **Import D2L downloaded data**
- ‚¨ú Inspect & clean
- ‚¨ú Add group info (merge)
- ‚¨ú Split by question type

In this step, we will:
- Load the raw D2L CSV file
- Take a first look at what the data looks like

In [1]:
# import Python libraries

from google.colab import files
import pandas as pd

# from üß∞ import üõ†Ô∏è

From the toolbox called `google.colab`,
import the tool called `files`.


# import üß∞ as [nickname]

üß∞ is called **library** in Python

Here we are importing the entire toolbox called `pandas`. Because we will use many different tools inside it.

Because the word "pandas" is long, and we will use it very often. So we shorten it to `pd`.

When we want to use a function inside pandas,
we write:

```
pd.read_csv()
```


`pd` ‚Üí the toolbox

`.`  ‚Üí you can think of it as ‚Äúfind‚Äù

`read_csv` ‚Üí a tool inside that toolbox

`()` ‚Üí think of it as ‚Äúuse it‚Äù

üé§ It reads like:
Go to the pandas toolbox, find the function called read_csv, and use it.

In [28]:
# Upload file from your local computer
# Choose the "d2l_fake_export.csv"

uploaded = files.upload()

Saving d2l_fake_export (2).csv to d2l_fake_export (2).csv

In [29]:
# Get the uploaded file name
file_name = list(uploaded.keys())[0]

In [30]:
# Load into pandas
survey = pd.read_csv(file_name)

survey.head()

      Username  FirstName LastName  Q # Q Type Answer  Score
0  riley.smith0     Riley    Smith    1     MC      C    0.0
1  riley.smith0     Riley    Smith    2     MC      C    0.0
2  riley.smith0     Riley    Smith    3    MC       A    0.0
3  riley.smith0     Riley    Smith    4     MC      B    1.0
4  riley.smith0     Riley    Smith    5     MC      C    1.0

Now, the `.csv` file is read into a pandas **DataFrame** called `survey`.

A **DataFrame** is a structured table **in memory**.

`survey` is not a file now, it's a **DataFrame** object.

In [31]:
survey

,Username,FirstName,LastName,Q #,Q Type,Answer,Score
0,riley.smith0,Riley,Smith,1,MC,C,0.0
1,riley.smith0,Riley,Smith,2,MC,C,0.0
2,riley.smith0,Riley,Smith,3,MC,A,0.0
3,riley.smith0,Riley,Smith,4,MC,B,1.0
4,riley.smith0,Riley,Smith,5,MC,C,1.0
...,...,...,...,...,...,...,...
595,riley.garcia59,Riley,Garcia,6,MC,B,1.0
596,riley.garcia59,Riley,Garcia,7,MC,C,0.0
597,riley.garcia59,Riley,Garcia,8,MC,A,0.0
598,riley.garcia59,Riley,Garcia,9,MC,A,0.0
599,riley.garcia59,Riley,Garcia,10,WR,AI reduces real speaking practice.,NaN

# Step 1. Inspect & clean data

### Workflow status
- ‚úÖ Raw D2L CSV
- üîµ **Inspect & clean**
- ‚¨ú Add group info (merge)
- ‚¨ú Split by question type

In this step, we:
- Inspect columns and basic structure
- Clean obvious issues (extra spaces, column names, unnecessary columns)

üëâ Goal: *Make the data reliable for later steps.*

In [32]:
survey.shape

(600, 7)

In [33]:
survey.columns

Index(['Username ', 'FirstName', 'LastName', 'Q #', 'Q Type', 'Answer',
       'Score'],
      dtype='object')

Note that `survey.columns` has no parentheses.

Why? Because `.columns` is not a function. It is an **attribute**.

  


`survey.head()` ‚Üí something the DataFrame can do

`survey.columns` ‚Üí something the DataFrame has

## Subset DataFrame

- Select one column

In [43]:
# Inside the square brackets, we put the column name as a string

survey["Score"]

0      0.0
1      0.0
2      0.0
3      1.0
4      1.0
      ...
595    1.0
596    0.0
597    0.0
598    0.0
599    NaN
Name: Score, Length: 600, dtype: float64

In [44]:
type(survey["Score"])

pandas.core.series.Series

This way, we get a Series, not a DataFrame.

A Series is like a single column. It‚Äôs one-dimensional.

- Select Multiple Columns

In [25]:
survey[['FirstName', 'LastName']]

    FirstName LastName
0       Riley    Smith
1       Riley    Smith
2       Riley    Smith
3       Riley    Smith
4       Riley    Smith
..        ...      ...
595     Riley   Garcia
596     Riley   Garcia
597     Riley   Garcia
598     Riley   Garcia
599     Riley   Garcia

[600 rows x 2 columns]

In [47]:
type(survey[['FirstName', 'LastName']])

pandas.core.frame.DataFrame

Notice the double brackets.

The outer brackets belong to the DataFrame.

The inner brackets create a list of column names.

So we are saying:

From this DataFrame,
select these columns.

**ü§î Why This Difference Matters**

If you try to use DataFrame methods/function on a Series,
sometimes things behave differently.

`df["col"]`        ‚Üí Series

`df[["col"]]`      ‚Üí DataFrame



---


‚úÖ Now we know how to subset a DataFrame **by column**.

‚è∏Ô∏è We will talk about how to **filtering rows** in the next step of the workflow.


---

## Data Cleaning

-  Clean Column names
    - Do the column names look clean?
    - Do we see extra spaces?

In [23]:
survey['Username']

KeyError: 'Username'

In [35]:
survey.columns = survey.columns.str.strip()  # remove extra spaces

`.str.strip()` removes extra spaces from the beginning and end of text.

We apply it to all column names.

In [36]:
survey.columns

Index(['Username', 'FirstName', 'LastName', 'Q #', 'Q Type', 'Answer',
       'Score'],
      dtype='object')

-  Clean text columns
    - Do the categorical labels look clean? Cause later we will split by question type.

    If some row say `"MC "` and others say `"MC"`, they will be treated as different categories.

In [39]:
set(survey["Q Type"])

{'MC', 'MC ', 'WR'}

In [40]:
survey["Q Type"] = survey["Q Type"].str.strip()

In [41]:
set(survey["Q Type"])

{'MC', 'WR'}

In [42]:
survey["Q Type"].value_counts()

Q Type
MC    540
WR     60
Name: count, dtype: int64

This gives immediate feedback:

Do we see 9 MC questions and 1 WR?

Does distribution look reasonable?

## Add column

Add a `FullName` column

In [37]:
survey["FullName"] = survey["FirstName"] + " " + survey["LastName"]

In [38]:
survey.head()

       Username FirstName LastName  Q # Q Type Answer  Score     FullName
0  riley.smith0     Riley    Smith    1     MC      C    0.0  Riley Smith
1  riley.smith0     Riley    Smith    2     MC      C    0.0  Riley Smith
2  riley.smith0     Riley    Smith    3    MC       A    0.0  Riley Smith
3  riley.smith0     Riley    Smith    4     MC      B    1.0  Riley Smith
4  riley.smith0     Riley    Smith    5     MC      C    1.0  Riley Smith

### Remove column


We don't really need the `Q #` column for this analysis. Let's remove it.

In [27]:
survey = survey.drop(columns=["Q #"])

In [24]:

survey.head()

      Username  FirstName LastName  Q # Q Type  Score
0  riley.smith0     Riley    Smith    1     MC    0.0
1  riley.smith0     Riley    Smith    2     MC    0.0
2  riley.smith0     Riley    Smith    3     MC    0.0
3  riley.smith0     Riley    Smith    4     MC    1.0
4  riley.smith0     Riley    Smith    5     MC    1.0

# Step 2. Add group information (merge)

### Workflow status
- ‚úÖ Raw D2L CSV
- ‚úÖ Inspect & clean
- üîµ **Add group info (merge)**
- ‚¨ú Split by question type

In this step, we:
- Load a separate group roster
- Merge group information into the main dataset

üëâ Goal: *Add meaningful context (groups) to the data.*

In [ ]:
# code goes here

# Step 3. Split by question type

### Workflow status
- ‚úÖ Raw D2L CSV
- ‚úÖ Inspect & clean
- ‚úÖ Add group info (merge)
- üîµ **Split by question type**

In this step, we:
- Separate multiple-choice questions from short-answer questions
- Prepare different analysis paths for different data types

üëâ Goal: *Different data types need different analysis strategies.*

In [ ]:
# code goes here

# Step 4A. Multiple-choice questions: group stats & visualization

### Workflow status
- ‚úÖ Raw D2L CSV
- ‚úÖ Inspect & clean
- ‚úÖ Add group info (merge)
- ‚úÖ Split by question type
  - üîµ **MC ‚Üí group stats ‚Üí bar chart**
  - ‚¨ú Short answer ‚Üí word freq ‚Üí word cloud

In this step, we:
- Calculate simple statistics by group
- Create a basic bar chart to compare groups

üëâ Goal: *Use simple statistics to answer a teaching or research question.*

In [ ]:
# code goes here

# Step 4B. Short-answer questions: text exploration (optional)

### Workflow status
- ‚úÖ Raw D2L CSV
- ‚úÖ Inspect & clean
- ‚úÖ Add group info (merge)
- ‚úÖ Split by question type
  - ‚¨ú MC ‚Üí group stats ‚Üí bar chart
  - üîµ **Short answer ‚Üí word freq ‚Üí word cloud**

In this step, we:
- Explore common words or phrases in open-ended responses
- Visualize themes using word frequency or a word cloud

üëâ Goal: *Get a quick, exploratory sense of what students are saying.*

*(Optional ‚Äî skip if time is limited.)*

# Wrap-up: Adapting this workflow to your own data

We‚Äôve walked through a complete workflow:
- From raw LMS data
- To cleaned, combined, and analyzed results

Think about:
- Which steps are essential for your own project?
- Where might you stop, simplify, or extend the workflow?
- How could AI tools help you modify this code safely?

üëâ The goal is not to memorize code,  
but to **read, understand, and adapt workflows**.